#######################################
#    https://rclone.org/filtering/    #
#    # a sample filter rule file      #
#    - secret*.jpg                    #
#    + *.jpg                          #
#    + *.png                          #
#    + file2.avi                      #
#    - /dir/Trash/**                  #
#    + /dir/**                        #
#    # exclude everything else        #
#    - *                              #
#######################################


- /*.*
- /.git/**
- /node_modules/**
- /.azure/**
- /.github/**
- /.libs/**
- /service_accounts/**
- /telegraf/**

- /winston-logs/*-audit.json